{% from 'macros/ui.html' import form_field %}

{{ form_field(form.name, 3, 8, class_="form-control") }}
{{ form_field(form.form, 3, 8, class_="form-control") }}
{{ form_field(form.form_attr, 3, 8, class_="form-control") }}
{{ form_field(form.distribution, 3, 8, class_="form-control", rows=5) }}
{{ form_field(form.owner, 3, 8, class_="form-control") }}
{{ form_field(form.rotate, 3, 8, class_="form-control") }}
{{ form_field(form.history, 3, 8, class_="form-control") }}
{{ form_field(form.notes, 3, 8, class_="form-control", rows=5) }}
{{ form_field(form.risk_level, 3, 8, class_="form-control") }}
{{ form_field(form.risk_info, 3, 8, class_="form-control", rows=5) }}
{{ form_field(form.uses, 3, 8, class_="form-control", rows=5) }}


{{ xsrf_form() }}
