{% extends "base.html" %}
{% from 'macros/ui.html' import group_panel, member_panel, tag_permission_panel, log_entry_panel,
                                help_for, account %}

{% block heading %}
    <a href="/secrets">Secrets</a>
{% endblock %}

{% block headingbuttons %}
    <!-- If user is an owner of this secret, allow them to edit -->
    {% if is_owner %}
        <a href="/secrets/{{secret.name}}/edit"
           class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
    {% endif %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <blockquote><p>
            <em>{{secret.name|default("&nbsp;", True)|escape}}</em>
        </p></blockquote>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-elist">
            <thead>
                <tr>
                    <th class="col-sm-1">Name</th>
                    <th class="col-sm-1">Form</th>
                    <th class="col-sm-1">Form Attr</th>
                    <th class="col-sm-1">Distribution</th>
                    <th class="col-sm-1">Owner</th>
                    <th class="col-sm-1">Rotation</th>
                    <th class="col-sm-1">History</th>
                    <th class="col-sm-1">Notes</th>
                    <th class="col-sm-1">Risk Level</th>
                    <th class="col-sm-1">Risk Info</th>
                    <th class="col-sm-1">Uses</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ secret.name }}</td>
                    <td>{{ secret.form|escape }}</td>
                    <td>{{ secret.form_attr|escape }}</td>
                    <td>{{ secret.distribution|escape }}</td>
                    <td>{{ account(secret.owner.name, type="Group") }}</td>
                    <td>{{ secret.rotate }}</td>
                    <td>{{ secret.history }}</td>
                    <td>{{ secret.notes|escape }}</td>
                    <td>{{ risks(secret.risk_level).name }}</td>
                    <td>{{ secret.risk_info|escape }}</td>
                    <td>{{ secret.uses|escape }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


{% endblock %}
