{% extends "base.html" %}
{% from 'macros/ui.html' import account, paginator, format_secret, dropdown with context %}

{% block heading %}
    Secrets
{% endblock %}

{% block subheading %}
    {{total}} secret(s)
{% endblock %}

{% block headingbuttons %}
    {{ dropdown("limit", limit, [100, 250, 500]) }}
    {{ paginator(offset, limit, total) }}
      <button class="btn btn-success" data-toggle="modal" data-target="#createModal">
          <i class="fa fa-plus"></i> Create
      </button>
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-elist">
            <thead>
                <tr>
                    <th class="col-sm-2">Name</th>
                    <th class="col-sm-4">Uses</th>
                    <th class="col-sm-2">Risk</th>
                    <th class="col-sm-2">Owner</th>
                </tr>
            </thead>
            <tbody>
            {% for secret in secrets %}
                <tr>
                    <td>{{ format_secret(secret) }}</td>
                    <td>{{ secret.uses|default("", True)|escape}}</td>
                    <td>{{ risks(secret.risk_level).name }}</td>
                    <td>{{ account(secret.owner.name, type="Group") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog"
      aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Create Secret</h4>
           </div>
            <div class="modal-body">
                <form id="createForm" class="form-horizontal" role="form"
                      method="post" action="/secrets">
                    {% include "forms/secret.html" %}
            </div>
            <div class="modal-footer">
                <button id="formSubmit" type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
                </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script type="text/javascript">
    $(function(){

        $("#createModal").on("shown.bs.modal", function(){
            $("#tagname").focus();
        });
        $("#formSubmit").click(function() {
            $("#createFrom").submit();
        });
    });
</script>
{% endblock %}
